.navigation.pagination .nav-links {
    margin-top: rem-calc(40);
    text-align: right;

    span:not(.dots, .current), a {
        padding: rem-calc(7 15);
        border-bottom: none;
        color: $dark-grey;
        display: inline-block;
        background-color: #fafafa;
        border: 2px solid #e2e2e2;
    }

    a:hover {
        background-color: var(--wp--preset--color--primary);
        color: #fff;
    }

    .dots, .current {
        padding: rem-calc(7 7);
    }
}

.c-post-navigation {
    $p: &;

    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);

    &__links {
        display: flex;
    }

    &__post {
        flex: 1;
        max-width: 50%;

        &--next {
            #{$p}__thumbnail {
                order: 1;
                margin-left: rem-calc(15);
            }
            #{$p}__link {
                justify-content: flex-end;
                border-left: none !important;
            }
            #{$p}__content {
                text-align: right;
            }
        }

        &--prev {
            #{$p}__thumbnail {
                margin-right: rem-calc(15);
            }
            #{$p}__link {
                justify-content: flex-start;
            }
        }
    }

    &__subtitle {
        display: block;
        color: $dark-grey;
        font-size: rem-calc(14);
    }

    &__title {
        display: block;
        color: #000;
        font-weight: 600;        
    }

    &__content {
        flex: 1;
        margin: rem-calc(10 0);
    }

    &__link {
        display: flex;
        height: 100%;
        background-color: #fff;
        border: 1px solid $grey !important;
        padding: rem-calc(20);
        overflow: hidden;
        text-decoration: none;
    }

    &__thumbnail {
        width: 100px;

        img {
            height: 100px;
            width: 100px;
        }
    }
}