.c-page {
    background-color: #fff;
    border: 1px solid $grey;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: rem-calc(20);
    overflow: hidden;

    &__header {
        margin-bottom: rem-calc(20);
    }

    &__title {
        font-weight: 600;
    }
}