.c-sidebar-widget {
    background-color: #fff;
    border: 1px solid $grey;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: rem-calc(20);

    h5 {
        font-weight: 600;
    }

    > ul {
        list-style: none;
        margin: 0;
    }
}

.c-footer-widget {
    > ul {
        list-style: none;
        margin: 0;
    }

    &--light {
        a, p {
            opacity: 0.9;
            color: #fff;
            font-weight: 300;
            border-bottom: none;
        }
    }

    .tagcloud {
        a {
            font-size: rem-calc(14) !important;
            background-color: var(--wp--preset--color--primary);
            color: #fff;
            opacity: 1;
            padding: rem-calc(5 10);
            margin-bottom: rem-calc(5);
            display: inline-block;
        }
    }
}