html {
    box-sizing: border-box;
    font-size: $base-font-size;
}

body {
    background: $body-background;
    font-family: $body-font-family;
    font-weight: $global-weight-normal;
    line-height: $global-lineheight;
    color: $body-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    interpolation-mode: bicubic;
}

:focus {
    outline: 2px solid var(--wp--preset--color--primary);
}

::selection {
    background: var(--wp--preset--color--primary);
    color: #fff;
}

::selection {
    background: var(--wp--preset--color--primary);
    color: #fff;
}